<div class="p-4">
  <!-- CARD  -->
  <div class="grid gap-4 grid-cols-3">
    <div
      class="rounded-lg p-2 h-44 bg-white text-center border-b-4 border-blue-500"
    >
      <div class="relative space-y-4">
        <p class="text-2xl font-medium text-gray-900"></p>
        <h1>My Profile</h1>
        <a
          routerLink="/internship-seeker/profile"
          class="group relative inline-block overflow-hidden border border-blue-600 px-8 py-3 focus:outline-none focus:ring"
          routerLink="/internship-seeker-dashboard/profile"
        >
          <span
            class="absolute inset-y-0 left-0 w-[2px] bg-blue-600 transition-all group-hover:w-full group-active:bg-blue-500"
          ></span>

          <a
            class="relative cursor-pointer flex text-sm font-medium text-blue-600 transition-colors group-hover:text-white"
          >
            Edit my profile
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler ml-2 icons-tabler-outline icon-tabler-speakerphone"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M18 8a3 3 0 0 1 0 6" />
              <path d="M10 8v11a1 1 0 0 1 -1 1h-1a1 1 0 0 1 -1 -1v-5" />
              <path
                d="M12 8h0l4.524 -3.77a.9 .9 0 0 1 1.476 .692v12.156a.9 .9 0 0 1 -1.476 .692l-4.524 -3.77h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h8"
              />
            </svg>
          </a>
        </a>
      </div>
    </div>
  </div>

</div>
