<div class="p-4">
  <!-- CARD  -->
  <div class="grid gap-4 grid-cols-3">
    <div
      class="rounded-lg p-2 bg-white text-center border-b-4 border-orange-500"
    >
      <div class="relative space-y-4">
        <p class="text-2xl font-medium text-gray-900">{{ internships.length }}</p>
        <h1>Published Offer(s)</h1>
        <a
          class="group relative inline-block overflow-hidden border border-orange-600 px-8 py-3 focus:outline-none focus:ring"
          routerLink="/employer-dashboard/internship"
        >
          <span
            class="absolute inset-y-0 left-0 w-[2px] bg-orange-600 transition-all group-hover:w-full group-active:bg-orange-500"
          ></span>

          <span
            class="relative flex text-sm font-medium text-orange-600 transition-colors group-hover:text-white"
          >
            Go to internship
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler ml-2 icons-tabler-outline icon-tabler-speakerphone"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M18 8a3 3 0 0 1 0 6" />
              <path d="M10 8v11a1 1 0 0 1 -1 1h-1a1 1 0 0 1 -1 -1v-5" />
              <path
                d="M12 8h0l4.524 -3.77a.9 .9 0 0 1 1.476 .692v12.156a.9 .9 0 0 1 -1.476 .692l-4.524 -3.77h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h8"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div
      class="rounded-lg p-2 bg-white text-center border-b-4 border-blue-500"
    >
      <div class="relative space-y-4">
        <p class="text-2xl font-medium text-gray-900">{{ applications.length }}</p>
        <h1>Application(s)</h1>
        <a
          class="group relative inline-block overflow-hidden border border-blue-600 px-8 py-3 focus:outline-none focus:ring"
          routerLink="/employer-dashboard/application"
        >
          <span
            class="absolute inset-y-0 left-0 w-[2px] bg-blue-600 transition-all group-hover:w-full group-active:bg-blue-500"
          ></span>

          <span
            class="relative flex text-sm font-medium text-blue-600 transition-colors group-hover:text-white"
          >
            Go to Application
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler ml-2 icons-tabler-outline icon-tabler-speakerphone"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M18 8a3 3 0 0 1 0 6" />
              <path d="M10 8v11a1 1 0 0 1 -1 1h-1a1 1 0 0 1 -1 -1v-5" />
              <path
                d="M12 8h0l4.524 -3.77a.9 .9 0 0 1 1.476 .692v12.156a.9 .9 0 0 1 -1.476 .692l-4.524 -3.77h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h8"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>
    <div
      class="rounded-lg p-2 bg-white text-center border-b-4 border-orange-500"
    >
      <div class="relative space-y-4">
        <p class="text-2xl font-medium text-gray-900">0</p>
        <h1>Published Offer(s)</h1>
        <a
          class="group relative inline-block overflow-hidden border border-orange-600 px-8 py-3 focus:outline-none focus:ring"
          routerLink="/employer-dashboard/internship"
        >
          <span
            class="absolute inset-y-0 left-0 w-[2px] bg-orange-600 transition-all group-hover:w-full group-active:bg-orange-500"
          ></span>

          <span
            class="relative flex text-sm font-medium text-orange-600 transition-colors group-hover:text-white"
          >
            Go to internship
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler ml-2 icons-tabler-outline icon-tabler-speakerphone"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M18 8a3 3 0 0 1 0 6" />
              <path d="M10 8v11a1 1 0 0 1 -1 1h-1a1 1 0 0 1 -1 -1v-5" />
              <path
                d="M12 8h0l4.524 -3.77a.9 .9 0 0 1 1.476 .692v12.156a.9 .9 0 0 1 -1.476 .692l-4.524 -3.77h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h8"
              />
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div>
    @if (isLoading) {
    <div class="flex flex-col space-y-2 mt-5">
      <div class="skeleton h-24 w-full"></div>
      <div class="skeleton h-24 w-full"></div>
      <div class="skeleton h-24 w-full"></div>
      <div class="skeleton h-24 w-full"></div>
    </div>
    } @else {
    <div class="bg-white border-lg p-4 mt-5">
      <div class="flex justify-between">
        <p class="text-gray-700 font-semibold text-sm flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler mr-2 icons-tabler-outline icon-tabler-list-check"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M3.5 5.5l1.5 1.5l2.5 -2.5" />
            <path d="M3.5 11.5l1.5 1.5l2.5 -2.5" />
            <path d="M3.5 17.5l1.5 1.5l2.5 -2.5" />
            <path d="M11 6l9 0" />
            <path d="M11 12l9 0" />
            <path d="M11 18l9 0" />
          </svg>
          Last 3 Internship offers
        </p>
        <a
          class="link link-primary flex items-center text-sm"
          routerLink="/employer-dashboard/internship"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
            <path
              d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
            />
          </svg>
          View All
        </a>
      </div>
      <div class="space-y-4 mt-5">
        @for (elem of latestInternships; track elem.id) {
        <div class="flex justify-between">
          <h1 class="text-xl text-gray-700 font-semibold">{{ elem.title }}</h1>
          <p class="text-sm text-gray-500 font-semibold">
            {{ elem.createdAt }}
          </p>
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
