<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mb-0 mt-6 space-y-4 rounded-lg p-4 sm:p-6 lg:p-8">
      <p class="text-center text-lg font-medium">Sign in to your account</p>

      <!-- Email Input -->
      <div>
        <label for="email" class="sr-only">Email</label>
        <div class="relative">
          <input
            id="email"
            formControlName="email"
            type="email"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter email"
          />
        </div>
      </div>

      <!-- Password Input -->
      <div>
        <label for="password" class="sr-only">Password</label>
        <div class="relative">
          <input
            type="password"
            id="password"
            formControlName="password"
            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
            placeholder="Enter password"
          />
        </div>
      </div>

      <!-- Submit Button -->
      <div>
        @if (!isLoading) {
          <button
            type="submit"
            class="block w-full rounded-lg bg-orange-600 px-5 py-3 text-sm font-medium text-white"
          >
            Register
          </button>

        } @else {
          <button class="btn">
            <span class="loading loading-spinner"></span>
            Loading
          </button>
        }
      </div>

      <!-- Link to Register Page -->
      <p class="text-center text-sm text-gray-500">
        No account? <a class="underline" routerLink="/register">Sign up</a>
      </p>
    </form>
  </div>
</div>
