<div
  class="bg-blue-100 p-2 rounded-lg w-full flex justify-between items-center"
>
  <p class="text-xl text-blue-500 font-bold">View Application</p>
</div>

<!-- Loader Section -->
<div *ngIf="isLoading" class="flex justify-center items-center h-64">
  <div class="flex items-center space-x-2">
    <span class="loading loading-spinner loading-lg text-blue-500"></span>
    <p class="text-blue-500 font-medium">Loading applications...</p>
  </div>
</div>

<!-- Table Section -->
<div *ngIf="!isLoading" class="overflow-x-auto w-full p-4">
  <!-- No Data Message -->
  <div
    *ngIf="!applications || applications.length === 0"
    class="text-center mt-4"
  >
    <p class="text-gray-500 text-xl font-bold">No applications found.</p>
    <p class="text-gray-500 font-semibold text-sm">
      You haven't applied to any internship yet. Browse and apply for an
      internship to get started.
    </p>
    <a routerLink="/internships" class="mt-4 text-blue-500 hover:underline">
      Browse internships
    </a>
  </div>

  <!-- Table Display -->
  <div *ngIf="applications && applications.length > 0">
    <div class="flex justify-end items-center">
      <label for="sortBy" class="mr-2 text-blue-500 font-medium"
        >Sort by:</label
      >
      <select
        id="sortBy"
        class="select select-bordered"
        (change)="onSortChange($event)"
      >
        <option value="asc">Date (Ascending)</option>
        <option value="desc">Date (Descending)</option>
      </select>
    </div>
    <table class="table table-zebra w-full mt-4">
      <!-- Table Head -->
      <thead>
        <tr>
          <th>#</th>
          <th>Internship Title</th>
          <th>Applied At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <!-- Table Body -->
      <tbody>
        <tr *ngFor="let application of applications; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ application.internship.title }}</td>
          <td>{{ application.appliedAt }}</td>
          <td class="space-x-2 flex items-center">
            <!-- View Internship Button -->
            <button
              class="btn btn-sm btn-error text-white"
              (click)="deleteApplication(application.id)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="icon icon-tabler icons-tabler-filled icon-tabler-trash"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16z"
                />
                <path
                  d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z"
                />
              </svg>
              Delete
            </button>
            <button class="btn btn-sm btn-primary text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-eye"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                <path
                  d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"
                />
              </svg>
              <a [routerLink]="'/internship/' + application.internship.id">
                view
              </a>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
